<ion-view view-title="Account">
	<ion-content>
		<h1 style="text-align:center">Jay Thaker</h1>

		<div style="margin-left:5%;margin-top:2%">
			<p>This project depicts a simple calculator with functionalities such as addtion, subtraction, multiplication and division.</p>
			<p> Extra functionalities include the calculation of square and square root.</p>
			<p>The eye catching fesature is the instructions provided in three different languages namely HINDI, FRENCH ENGLISH AND GUJARATI</p>
		</div>
	</ion-content>
</ion-view>